<% content_for :head do %>
  <title>B: lp</title>
<% end %>

<h1>B: lp</h1>
<div id="logged_in"></div>
<br/>
<input type="button" value="write cookie" id="wc"/>

<script type="text/javascript">
  var lg = $.cookie('logged_in')
  if (lg)
    $('#logged_in').text(lg);

  $('#wc').click(function(){
    $.cookie('foo', Math.floor(Math.random() * 1000000).toString(), { path: '/' });
  });
</script>
