<% content_for :head do %>
  <title>B: lp</title>
<% end %>

<h1>B: lp</h1>
<div id="uuid"></div>

<script src="http://kzp.www.domain-a.dev:3000/bridge"></script>
<script type="text/javascript">
$('#uuid').text(kz.logged_in);
</script>
